# Ignore everything
/*

# Folders
!/gradle
!/src

# Files
!/.gitattributes
!/build.gradle
!/gradle.properties
!/gradlew
!/gradlew.bat
!/HEADER
!/Jenkinsfile
!/LICENSE
!/README.md
!/settings.gradle
!/formatter/
!/.gitignore
